
*.png
*.eps
*.ps
*.pdf
*.nc
*.xlsx
*.pyc
*.npz
*.ini
*.bak
*.index*
*.data*
*.cpython*
*.cpython-310.pyc
./__pycache__/
.spyproject/
.spyproject/config/workspace.ini
analysis/ML/encoderdecoder_src/models/check*
